ul li a {
    color: white !important;
}

li[data-data-id="dataItem-jfporqwm"] ul {
    display: table;
    visibility: hidden;
    left: 0.5px;
    right: auto;
    position: absolute;
    z-index: 5;
}

li[data-data-id="dataItem-jfporqwm"] ul li {
    background-color: rgb(56, 56, 56);
    color: white;
    padding: 8px;
}

li[data-data-id="dataItem-jfvp24k3"] ul {
    display: table;
    visibility: hidden;
    left: -1.5px;
    right: auto;
    position: absolute;
    z-index: 5;
}

li[data-data-id="dataItem-jfvp24k3"] ul li {
    background-color: rgb(56, 56, 56);
    color: white;
    padding: 8px;
}

li[data-data-id="dataItem-jgmm4ayh"] ul {
    display: table;
    visibility: hidden;
    left: 14.5px;
    right: auto;
    position: absolute;
    z-index: 5;
}

li[data-data-id="dataItem-jgmm4ayh"] ul li {
    background-color: rgb(56, 56, 56);
    color: white;
    padding: 8px;
}


#img1 {
    width: 1922px;
    height: 477px;
    display: none
}
#img2 {
    width: 1922px;
    height: 607px;
    display: none

}
#img3 {
    width: 1922px;
    height: 607px;
    display: none

}
#img4 {
    width: 1922px;
    height: 477px;
    display: none
}